<div class="container-fluid" ng-controller="userController as ctrl" ng-click="ctrl.hideEdit($event)">
	<div class="row">
		<div class="col-md-4 col-sm-12 col-xs-12">
			<calendar selected="day"></calendar>
		</div>
	</div>
	<div class="row" ng-if="ctrl.addNew">
		<div class="col-md-3 col-xs-12">
			<form name="myForm">
				<div class="form-group" ng-class="{ 'has-error': myForm.userName.$dirty && myForm.userName.$error.required}">
					<label for="userName">游戏名:</label>
					<input type="text" class="form-control" id="userName" name="userName" ng-model="name" placeholder="请输入游戏名" required ng-trim="true">
				</div>
				<button type="button" class="btn btn-primary" ng-click="ctrl.addUser()">添加</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<h3>工会玩家列表</h3>
			<!-- <button ng-if="false" type="button" class="btn btn-primary" ng-click="ctrl.open()">
				添加工会成员
			</button> -->

			<div class="row">
				<div class="col-md-2 col-xs-2 col-sm-2">
					<button type="button" class="btn btn-primary" ng-click="ctrl.addNew = !ctrl.addNew">
						<span ng-if="!ctrl.addNew">添加工会成员</span>
						<span ng-if="ctrl.addNew">取消添加</span>
					</button>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3">
					<div class="switch">
						<label for="weekCountType">周活跃类型: </label>
						<input name="weekCountType" type="checkbox" ng-model="currentWeek" on="当周" off="7天">
					</div> 
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3">
					<div class="switch">
						<label for="showDelete">删除: </label>
						<input name="showDelete" type="checkbox" ng-model="showDelete" on="可用" off="禁用">
					</div> 
				</div>

			</div>
	
			<div class="row">
				<!-- score part -->
				<table st-table="ctrl.userListInPeriod" st-safe-src="ctrl.userListInPeriodSafe" class="table table-condensed" style="table-layout: fixed;">
					<thead>
						<tr>
							<th ratio="2"></th>
							<th st-sort="name" ratio="18">游戏名</th>
							<th st-sort="ctrl.sort.activity[day]" st-sort-default="$last ? 'reverse': ''" ratio="{{30/ctrl.showDays}}" ng-repeat="day in ctrl.duration | orderBy: '_d'"><span ng-bind="day.format('MM-DD')"></span></th>
							<th st-sort="ctrl.sort.undoDays" ratio="15">累计未做天数</th>
							<th ratio="15">
								<div class="btn-group">
								  <button type="button" class="btn btn-default dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"><b><span ng-bind="done=='N' ? '未完成': (done =='Y' ? '已完成': '当日完成情况')"></span></b>
								    &nbsp;<span class="caret"></span>&nbsp;
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu">
								    <li><a href="" ng-click="done = 'Y'">完成</a></li>
								    <li><a href="" ng-click="done = 'N'">未完成</a></li>
								    <li><a href="" ng-click="done = ''">全部</a></li>
								  </ul>
								</div>
							</th>
							<th st-sort="ctrl.sort.totalActivity" ratio="15">
								<div class="btn-group">
								  <button type="button" class="btn btn-default"><b><span>{{week | weekFilter}}周活跃</span></b></button>
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  	<span class="caret"></span>
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu">
								    <li><a href="" ng-click="week = 1">一周</a></li>
								    <li><a href="" ng-click="week = 2">二周</a></li>
								    <li><a href="" ng-click="week = 3">三周</a></li>
								    <li><a href="" ng-click="week = 4">四周</a></li>
								  </ul>
								</div>
							</th>
							<th ratio="7">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in ctrl.userListInPeriod | myFilter: done">
							<td ratio="2"><span ng-bind="$index+1"></span></td>
							<td ratio="18"><span ng-bind="row.name"></span></td>
							<td ratio="{{45/ctrl.showDays}}" ng-repeat="item in row.list | orderBy: 'day' " ng-dblclick="ctrl.showEdit(item, row, $index)" ng-click="ctrl.showEdit(item, row, $index)" ng-class="ctrl.getCss(item)">
								<span ng-if="!item.edit">
									<span ng-bind="item.diff"></span>/<span ng-bind="item.score"></span>
								</span>
								<div class="input-group" ng-if="item.edit">
								 <h-number value="item.score" step="1" aria-describedby="basic-addon2" save="ctrl.saveScore(item)"></h-number>
								</div>
							</td>
							<td ratio="15"><span ng-bind="ctrl.unSignUsersTotal[row.name] | formatNumber"></span></td>
							<td ratio="15" ng-class="ctrl.getCss(row.list[row.list.length-1])">
							<span ng-bind="row.list[row.list.length-1].sign"></span></td>
							<td ratio="15"><span ng-bind="ctrl.totalActivity[row.name]"></span></td>
							<td ratio="7">
								<button ng-disabled="!showDelete" class="btn btn-primary" ng-click="ctrl.removeUser(row.name, $index)">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>